* body {
  box-sizing: border-box;
  font-family: 'ZCOOL XiaoWei', serif;
}

h1 {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}

.container2 {
  display: flex;
  flex-direction: column;
}

.medium {
  width: 130px;
}

.short {
  width: 50px;
}

.details {
  border: 3px solid black;
  width: 300px;
  height: 400px;
  margin-right: 50px;
}

.charges {
  border: 3px solid black;
  height: 175px;
  width: 250px;
  margin-right: 50px;
}

.earnings {
  border: 3px solid black;
  height: 175px;
  width: 250px;
  margin-top: 45px;
}

.form-title {
  border-bottom: 3px solid black;
  padding-left: 15px;
}

.js-tip {
  border-bottom: 3px solid black;
}

.js-reset-button {
  float: right;
}

span {
  padding-left: 15px;
}

.container3 {
  display: flex;
  justify-content: center;
  margin-top:100px;
}